.drawer-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100dvh - var(--header-height));
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.drawer-overlay.open {
  opacity: 1;
  visibility: visible;
}

.drawer-container {
  position: fixed;
  bottom: 0;
  left: -100%;
  height: calc(100dvh - var(--header-height) - var(--drawer-padding) * 2);
  z-index: 1001;
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
  bottom: var(--drawer-padding);
}

.drawer-container.open {
  left: var(--drawer-padding);
}


.close-button {
  background: rgba(255, 255, 255, 0.5);
  color: rgb(51 65 85);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.close-button:hover {
  background: rgba(255, 255, 255, 0.7);
  transform: scale(1.1);
}

.dark .close-button {
  background: rgba(30, 41, 59, 0.6);
  color: rgb(203 213 225);
}

.dark .close-button:hover {
  background: rgba(30, 41, 59, 0.8);
}

/* Responsive design */
@media (max-width: 768px) {
  .drawer-container {
    max-width: calc(100% - var(--drawer-padding) * 2);
  }
}
