.drawer-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100dvh - var(--header-height));
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.drawer-overlay.open {
  opacity: 1;
  visibility: visible;
}

.drawer-container {
  position: fixed;
  bottom: 0;
  left: -100%;
  height: calc(100dvh - var(--header-height) - var(--drawer-padding) * 2);
  z-index: 1001;
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
  bottom: var(--drawer-padding);
}

.drawer-container.open {
  left: var(--drawer-padding);
}


/* Responsive design */
@media (max-width: 768px) {
  .drawer-container {
    max-width: calc(100% - var(--drawer-padding) * 2);
  }
}
