<div class="drawer-overlay" [class.open]="swimmingSpot" (click)="closeDrawer.emit()">
  <div
    class="drawer-container w-[440px] bg-sidebar-bg dark:bg-slate-900 border-r border-slate-200 dark:border-slate-800 overflow-y-auto custom-scrollbar flex flex-col z-10"
    [class.open]="swimmingSpot" (click)="$event.stopPropagation()">
    @if (swimmingSpot) {
    <div class="absolute z-[1] right-0 flex justify-end p-6">
      <button class="btn-tonal" (click)="onCloseClick($event)" aria-label="Fermer">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>

    <app-swimming-spot-detail [swimmingSpot]="swimmingSpot"></app-swimming-spot-detail>
    }
  </div>
</div>