<div class="layout-container">
  <header class="header">
    <div class="header-content">
      <div class="header-left">
        <div class="header-logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-waves-icon lucide-waves"><path d="M2 6c.6.5 1.2 1 2.5 1C7 7 7 5 9.5 5c2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1"/><path d="M2 12c.6.5 1.2 1 2.5 1 2.5 0 2.5-2 5-2 2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1"/><path d="M2 18c.6.5 1.2 1 2.5 1 2.5 0 2.5-2 5-2 2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1"/></svg>
        </div>
        <div class="header-text">
          <h1 class="header-title">Ça Baigne !</h1>
          <p class="header-subtitle">
            Les meilleurs coins pour plonger les yeux fermés.
          </p>
        </div>
      </div>
    </div>
  </header>

  <main class="layout-main">
    <router-outlet></router-outlet>
  </main>
</div>
